html {
  min-height:100%;
  min-width:100%;
  box-sizing:border-box;

  }
body {
    position:relative;
    margin:0;
    padding-bottom: 6rem;
    min-height: 100%;
}
li {
  list-style: none;
  display:inline;
  padding:10px;
  text-decoration: none;
  text-align: center;
}
li a {
  color:black;
}
.topbar {
  float:right;
}
img {
  display:block;
  margin:auto;
  margin-top:150px;
  margin-bottom: 20px;

  clear:both;
}

.footer {
  position:absolute;
  right:0;
  left:0;
  bottom:0;
  width:100%;
  height:40px;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  vertical-align: middle;
  line-height: 40px;
  
}
input[type=text], select {
    min-width:250px;
    width:500px;
    padding: 5px 10px;
    margin: auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;

}

input[type=submit] {

    background-color: #f2f2f2;
    display: inline;
    color: #757575;
    padding: 14px 20px;
    margin: auto;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 27px;

    
}
.footer-right {
    float:right;
    padding-bottom:0;

}

.searchbox {
    margin:auto;
    

}
.centersubmit {
    text-align: center;
}
.bluebutton {
    background: #4285f4;
    margin-right:25px;
    border-radius: 3px;

}
.bluebutton a {
    color:white;
    font-weight: bold;
}